/*HEXAGON CONTAINER*/
hexagon-container{
	justify-content: center;
	display: flex;
	margin-bottom: 45px;
}

hexagon-container.second{
	margin-top: -85px;
}

hexagon-container.disabled{
	opacity: .15;
}

/*HEXAGON*/
hexagon {
	position: relative;
	display: inline-block;
	height: 80px;
	width: 140px;

	margin: 55px 15px;

	opacity: 0;
	transform: scale(.6);
	z-index: 1;
}

hexagon svg{
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: miter;

	position: absolute;
	height: 180px;
	width: 160px;

	top: -50px;
	left: -10px;

	z-index: -1;
}

hexagon.display{
	animation: displayHexagon linear 250ms;

	transform: none;
	transition: all 0ms 0ms linear, z-index 1000ms 0ms linear;
	opacity: 1;
}
hexagon.display:hover{
	z-index: 3;
}

hexagon.display.active{
	transition: all 0ms 0ms linear, z-index 0ms 0ms linear;
	z-index: 4;
}

hexagon:nth-of-type(1){
	animation-delay: 000ms;
	transition-delay: 000ms;
}
hexagon:nth-of-type(2){
	animation-delay: 200ms;
	transition-delay: 200ms;
}
hexagon:nth-of-type(3){
	animation-delay: 400ms;
	transition-delay: 400ms;
}
hexagon:nth-of-type(4){
	animation-delay: 600ms;
	transition-delay: 600ms;
}
hexagon:nth-of-type(5){
	animation-delay: 800ms;
	transition-delay: 800ms;
}
hexagon:nth-of-type(6){
	animation-delay: 1000ms;
	transition-delay: 1000ms;
}


hexagon polygon{
	transition-property: stroke-dasharray;
	transition-timing-function: ease-out;
}

hexagon polygon:nth-child(2){
	stroke-dasharray: 0 522;
	stroke-dashoffset: -1;
}

hexagon:nth-of-type(1) polygon{ transition-delay: 600ms; }
hexagon:nth-of-type(2) polygon{ transition-delay: 750ms; }
hexagon:nth-of-type(3) polygon{ transition-delay: 900ms; }
hexagon:nth-of-type(4) polygon{ transition-delay: 1050ms; }
hexagon:nth-of-type(5) polygon{ transition-delay: 1200ms; }
hexagon:nth-of-type(6) polygon{ transition-delay: 1350ms; }

hexagon.display polygon.skill-level-6{ stroke-dasharray: 520 522; transition-duration: 1200ms;}
hexagon.display polygon.skill-level-practise{ stroke-dasharray: 86.75 86.75; transition-duration: 1200ms;}

@keyframes displayHexagon{
	0%{ transform: scale(.6); opacity:0;}
	30%{ transform: scale(.8); opacity:1;}
	50%{ transform: scale(1); opacity:1;}
	70%{ transform: scale(1.05); opacity:1;}
	100%{ transform: scale(1); opacity:1;}
}


hexagon span, hexagon div.content {
	position: absolute;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	background-color: inherit;
	cursor: pointer;
}

hexagon span.bubble {
	z-index: 1;

	top: -30px;
	height: 31px;

	border-radius: 5px;
	padding-top: 4px;

	background-color: #444444;
	color: #ffffff;
	text-align: center;
	opacity: 0;

	transition: all 450ms;
}
hexagon a:hover span.bubble {
	transform: translateY(-20px);
	opacity: 1;
}


hexagon span.hexLeft {
	transform: rotate(60deg);
}

hexagon span.hexRight {
	transform: rotate(-60deg);
}

hexagon span.hex {
	z-index: -2;

	transform: scale(1, 1);
	transform-origin: 50% 0%;

	animation: hexReduce 650ms 300ms linear;
	transition-delay: 300ms;
}

hexagon.active span.hex {
	animation: hexExtend 650ms 250ms linear;
	transform: scale(2, 4.5);
}

@keyframes hexExtend{
	0%  { transform: scaleX( 1    ) scaleY( 1   ); }
	5%  { transform: scaleX( 1.2  ) scaleY( 1   ); }
	20% { transform: scaleX( 1.85 ) scaleY( 1   ); }
	25% { transform: scaleX( 2    ) scaleY( 1.1 ); }
	30% { transform: scaleX( 2.05 ) scaleY( 1.25); }
	/*-----//-----//-----//-----//-----*/
	40% { transform: scaleX( 2.08 ) scaleY( 2.1 ); }
	50% { transform: scaleX( 2.09 ) scaleY( 2.9 ); }
	60% { transform: scaleX( 2.075) scaleY( 3.6 ); }
	70% { transform: scaleX( 2.05 ) scaleY( 4.1 ); }
	80% { transform: scaleX( 2.02 ) scaleY( 4.4 ); }
	90% { transform: scaleX( 2.01 ) scaleY( 4.6 ); }
	100%{ transform: scaleX( 2    ) scaleY( 4.5 ); }
}

@keyframes hexReduce{
	0%   { transform: scaleX( 2   ) scaleY( 4.5 ); }
	5%   { transform: scaleX( 2   ) scaleY( 4.2 ); }
	20%  { transform: scaleX( 2   ) scaleY( 3   ); }
	35%  { transform: scaleX( 2   ) scaleY( 1.5 ); }
	40%  { transform: scaleX( 2   ) scaleY( 1.2 ); }
	50%  { transform: scaleX( 1.98) scaleY(  .9 ); }
	70%  { transform: scaleX( 1.95) scaleY( 1   ); }

	80%  { transform: scaleX( 1.80) scaleY( 1   ); }
	90%  { transform: scaleX( 1.30) scaleY( 1   ); }
	95%  { transform: scaleX( 1.10) scaleY( 1   ); }
	100% { transform: scaleX( 1   ) scaleY( 1   ); }
}

hexagon div.content{
	z-index: -2;

	width: 260px;
	height: 230px;
	margin-left: -70px;
	padding: 130px 10px 0px 10px;

	visibility: hidden;
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,.6);
	text-align: justify;

	background-color: #444444;
	color: white;
	opacity: 0;
	transition: opacity 250ms 0ms ease-out, visibility 0ms 250ms;
}

hexagon.active div.content{
	opacity: 1;
	visibility: visible;

	transition: opacity 250ms 900ms ease-out, visibility 0ms 0ms;
}

hexagon div.icon{
	position: absolute;

	top: -30px;
	left: 0px;

	height: 140px;
	width: 140px;

	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(img/logo.png);
}

hexagon div > p {
	color: white; 
	margin: 0;
	padding: 0;
	display: inline-block;
	text-shadow: 0px 0px 2px #00AAFF, 0px 0px 2px #00AAFF;
}

hexagon div > p.title{
	text-decoration: underline;
	text-align: center;
	width: 100%;
}

hexagon div.displayWhite{
	color: white;
}

hexagon:hover div{
	color: white;
}

hexagon div{
	color: #757575; 
}